@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .header{
    padding: 0px 80px 0px 80px;
}
.header>i{
  display: none;
}
.about_us {
  height: 70vh;
}
.about_us>img {
  left: 84%;
  top: 65%;
}
.tdc {
  padding: 0px 80px 0px 80px;
}
.mission {
  padding: 0px 80px 0px 80px;
}
.ceo {
  padding: 0px 80px 0px 80px;
}
.story{
  height: 80vh;
  padding: 0px 80px 0px 80px;
}

  }
   
  @media only screen and (max-width: 1200px) and (min-width: 992px) {
    h2{
      font-size: 35px;
      font-weight: 600;
      line-height: 1em;
      }
      p{
      font-size: 16px;
      }

    .header{
      padding: 0px 60px 0px 60px;
  }
  .header button{
    display: none;
  }
  .header>i{
    display: none;
}
  .about_us {
    height: 70vh;
    padding: 0px 60px 0px 60px;
  }
  .about_us>img {
    left: 80%;
    top: 64%;
  }
  .tdc {
    padding: 0px 60px 0px 60px;
  }
  .mission {
    padding: 0px 60px 0px 60px;
  }
  .sidesceondimg1{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.sidesceondimg{
    position: absolute;
    right: 9%;
    bottom: 0;
    z-index: 1;
}
  .mission-right h2 {
    width: 100%;
}
.mission-right p {
  width: 100%;
  text-align: justify;
}
  .ceo {
    padding: 0px 60px 0px 60px;
  }
  .ceo-left p {
    width: 100%;
    font-size: 25px;
    line-height: 1em;
    text-align: justify;
}
.ceo-right img{
  width: 90%;
  object-fit: contain;
}
  .story{
    height: 80vh;
    padding: 0px 60px 0px 60px;
  }

  }
   
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    h1{
      font-size: 55px;
      line-height: 1em;
      }
    h2{
      font-size: 30px;
      line-height: 1em;
      }
      p{
      font-size: 15px;
      line-height: 1em;
      text-align: justify;
      }

    .header{
      padding: 0px 30px 0px 30px;
  }
  nav ul li a{
    padding: 5px;
    font-size: 14;
    line-height: 1em;
}

  .header button{
    display: none;
  }
  .header>i{
    display: none;
}
  .about_us {
    height: 40vh;
    padding: 0px 30px 0px 30px;
  }
  .about_us>img {
    display: none;
  }
  .brands .image6{
    display: none;
  }
  .tdc {
    padding: 0px 30px 0px 30px;
    height: 40vh;
  }
  .mission {
    padding: 0px 30px 0px 30px;
    height: 70vh;
  }
  .sidesceondimg1{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.sidesceondimg{
    position: absolute;
    right: 11%;
    bottom: 0;
    z-index: 1;
}
  .mission-right h2 {
    width: 100%;
}
.mission-right p {
  width: 100%;
  text-align: justify;
}
  .ceo {
    padding: 0px 30px 0px 30px;
    height: 60vh;
  }
  .ceo-left p {
    width: 100%;
    font-size: 25px;
    line-height: 1em;
    text-align: justify;
}
.ceo-right img{
  width: 90%;
  object-fit: contain;
}
  .story{
    height: 50vh;
    padding: 0px 30px 0px 30px;
  }
  .mail {
    height: 40vh
  }
  }
   
  @media only screen and (max-width: 768px) and (min-width: 500px) {
    h1{
      font-size: 50px;
      line-height: 1em;
      }
    h2{
      font-size: 30px;
      line-height: 1em;
      }
      p{
      font-size: 15px;
      line-height: 1em;
      text-align: justify;
      }

    .header{
      padding: 0px 20px 0px 20px;
  }
  nav {
    display: none;
}
  .header button{
    display: none;
  }
  .header>i{
    display: block;
   color: blue;
   border: 1px solid blue;
   padding: 10px;
   border-radius: 5px;
}
  .about_us {
    height: 50vh;
    padding: 0px 20px 0px 20px;
  }
  .about_us>img {
    display: none;
  }
  .brands{
    height: 50vh;
  }
  .brands .image6{
    display: none;
  }
  .brands .image7{
    display: none;
  }
  .tdc {
    padding: 0px 20px 0px 20px;
    height: 40vh;
  }
  .mission {
    padding: 0px 20px 0px 20px;
    height: 70vh;
  }
  .sidesceondimg1{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.sidesceondimg{
    position: absolute;
    right: 13%;
    bottom: 0;
    z-index: 1;
}
  .mission-right h2 {
    width: 100%;
}
.mission-right p {
  width: 100%;
  text-align: justify;
}
  .ceo {
    padding: 0px 20px 0px 20px;
    height: 80vh;
  }
  .ceo-left p {
    width: 100%;
    font-size: 25px;
    line-height: 1em;
    text-align: justify;
}
.ceo-right img{
  width: 90%;
  object-fit: contain;
}
.hiring h2 {
  width: 80%;
}
.hiring p{
width: 80%;
 }
  .story{
    height: 70vh;
    padding: 0px 20px 0px 20px;
  }
  .mail {
    height: 40vh
  }
  .mailbox{
    width:250px;
}
.item1 img{
  height: 100px;
  width: 100px;
}
footer{
  width: 100%;
  height: 50vh;
  flex-direction: row;
  flex-wrap: wrap;
}
.item1{
  width: 50%;
  height: 20vh;
}
.item2{
  width: 50%;
  height: 20vh;
}
.item2 br{
  display: none;
}
.item3{
  width: 50%;
  height: 20vh;
}
.item4{
  width: 50%;
  height: 20vh;
}
.custom{
  margin: 10px 0px;
}
  }
   
  @media only screen and (max-width: 499px) {
    h1{
      font-size: 45px;
      line-height: 1em;
      }
    h2{
      font-size: 30px;
      line-height: 1em;
      }
      p{
      font-size: 15px;
      line-height: 1em;
      text-align: justify;
      }

    .header{
      padding: 0px 20px 0px 20px;
  }
  nav {
    display: none;
}
  .header button{
    display: none;
  }
  .header>i{
    display: block;
   color: blue;
   border: 1px solid blue;
   padding: 10px;
   border-radius: 5px;
}
  .about_us {
    height: 70vh;
    padding: 0px 20px 0px 20px;
    flex-direction: column-reverse;
    justify-content: space-around;

  }
  .about_left {
    width: 100%;
}
.about_left img {
  object-fit: contain;
  width: 100%;
}
.about_right {
  width: 100%;
}
  .about_us>img {
    display: none;
  }
  .brands{
    height: 70vh;
  }
  .brands .image6{
    display: none;
  }
  .brands .image7{
    display: none;
  }
  .brands h2 {
    margin: 30px;
    text-align: center;
}
  .tdc {
    height: 70vh;
    padding: 0px 20px 0px 20px;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .tdc_left {
    width: 100%;
    text-align: start;
}
.tdc_right {
  width: 100%;
  text-align: start;
}
.tdc_left img {
  width: 100%;
}
.mission {
  height: 90vh;
  padding: 0px 20px 0px 20px;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.sidesceondimg1{
  display: none;
}
.sidesceondimg{
 display: none;
}
.mission-left  {
  width: 100%;
  text-align: start;
}
.mission-right {
width: 100%;
text-align: start;
}
  .mission-right h2 {
    width: 100%;
}
.mission-right p {
  width: 100%;
  text-align: justify;
}
.mission-left > img {
  width: 100%;
}
.ceo {
  height: 100vh;
  padding: 0px 20px 0px 20px;
  flex-direction: column;
  justify-content: space-around;
}
.ceo-left {
  width: 100%;
  text-align: start;
}
.ceo-right {
width: 100%;
text-align: start;
}
  .ceo-left p {
    width: 100%;
    font-size: 25px;
    line-height: 1em;
    text-align: justify;
}
.ceo-right img{
  width: 100%;
  height: 85%;
  object-fit: contain;
}
.hiring h2 {
  width: 80%;
}
.hiring p{
width: 80%;
 }
  .story{
    height: 100vh;
    padding: 0px 20px 0px 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .story_left {
    width: 100%;
    text-align: start;
  }
  .story_right {
  width: 100%;
  text-align: start;
  }
  .story_left img {
    width: 100%;
}
  .mail {
    height: 40vh
  }
  .mail h2 {
    width: 80%;

}
  .mailbox{
    width:200px;
}
.brands .logos {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
footer{
  width: 100%;
  height: auto;
  flex-direction: column;
}
.item1{
  width: 100%;
}
.item2{
  width: 100%;
}
.item2 br{
  display: none;
}
.item3{
  width: 100%;
}
.item4{
  width: 100%;
}
.custom{
  margin: 10px 0px;
}
  }